@charset "UTF-8";
/* 全体設定
----------------------------- */
body {
  background: #ececeb;
  display: flex;
  /* footer下貼り付け用 */
  flex-direction: column;
  /* footer下貼り付け用 */
  font-family: 'Meiryo', sans-serif;
  /* フォント指定 メイリオ */
  min-height: 100vh;
  /* footer下貼り付け用 */
}

article {
  flex: 1;
  /* footer下貼り付け用 */
}

footer {
  border-top: 1px solid #999;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 5em 10% 0;
  padding: 1em 0;
  text-align: center;
}
