/* Image style */
#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 80px;  /* Height of image */
	width: 57px; /* Width of image */
	background: url(../../img/return2.png) no-repeat;

	-moz-transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
	-ms-transition: all .2s ease-out;
	transition: all .2s ease-out;

	margin-bottom: -10px;
}
#scrollUp:hover {
	background: url(../../img/return1.png) no-repeat;

	margin-bottom: 0px;
}

